@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext);
$light: #f3f4f4;
$logowhite: #F2E9EA;
$dark: #333;
$smooth: all ease-in-out .3s;
$red: #DE473C;


$shadow0:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow1:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow2:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow3:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow4:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow5:  0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);



body {
    padding-top: 150px;
    padding-bottom: 20px;
    background: $light;
    font-family: 'Open Sans', sans-serif;

    &.dark{background:$dark;
           color:white;
    }
}

.login-logo{
    width:200px;
    text-align:center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar{
    background: #333333;
    color:white;
    box-shadow:$shadow1;
    border:0;

    .logged{
        a,i{
                display: inline-block;
    vertical-align: middle;
        }
    }

    img.logo{
            height: 100px;
    padding: 15px 0;
    margin-right:20px;
    }

    .navbar-nav{
        margin-top:25px;
        
        li{    display: inline-block;
    vertical-align: middle;
            &>a{    display: inline-block;
    vertical-align: middle;
                    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;

    i{
            display: inline-block;
    vertical-align: middle;
    }

            &:hover, &:focus{
                color:$logowhite;
            }
            }
        }
    }
}


.m-t-md{
    margin-top:50px;
}

input{
    max-width:inherit;
}

input, button{
    border-radius: 0 !important;
}

*:focus{
    outline:none !important;
}

.btn-primary{
    background: #DE473C;
    color:$logowhite;

    &:hover, &:focus{
        
    background: #C93C39;
    color:$logowhite;
    opacity:0.8;
    }
}
.btn{
    border:0 !important;
    transition: $smooth;
}
.btn:hover{
    box-shadow: $shadow2;
}

.login-page{
    a{
        color:white;
        &:hover{
            text-decoration:none;
        }
    }
}

.logged-user-info{
    i.user{
        font-size:170px;
    }

    strong{
        color:$red;
    }

    dt{
        text-align:left;
    }
}

.home-item{
    padding:10px;
    
    transition:$smooth;
    .inside{
        box-shadow:$shadow2;
            background: #333;
    color: white;
    padding-top:20px;
    transition:$smooth;
    cursor: pointer;    text-align: center;
    i{
        font-size:100px;
    }

    p{
        padding:20px;
        background:white;
        margin-top:30px;
        color:$dark;
    }

    &:hover{
        box-shadow:$shadow3;
    transition:$smooth;
    
    }
    }
}