@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext);
body {
  padding-top: 150px;
  padding-bottom: 20px;
  background: #f3f4f4;
  font-family: 'Open Sans', sans-serif; }
  body.dark {
    background: #333;
    color: white; }

.login-logo {
  width: 200px;
  text-align: center; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 125px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.navbar {
  background: #333333;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 0; }
  .navbar .logged a, .navbar .logged i {
    display: inline-block;
    vertical-align: middle; }
  .navbar img.logo {
    height: 100px;
    padding: 15px 0;
    margin-right: 20px; }
  .navbar .navbar-nav {
    margin-top: 25px; }
    .navbar .navbar-nav li {
      display: inline-block;
      vertical-align: middle; }
      .navbar .navbar-nav li > a {
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px; }
        .navbar .navbar-nav li > a i {
          display: inline-block;
          vertical-align: middle; }
        .navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:focus {
          color: #F2E9EA; }

.m-t-md {
  margin-top: 50px; }

input {
  max-width: inherit; }

input, button {
  border-radius: 0 !important; }

*:focus {
  outline: none !important; }

.btn-primary {
  background: #DE473C;
  color: #F2E9EA; }
  .btn-primary:hover, .btn-primary:focus {
    background: #C93C39;
    color: #F2E9EA;
    opacity: 0.8; }

.btn {
  border: 0 !important;
  transition: all ease-in-out 0.3s; }

.btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.login-page a {
  color: white; }
  .login-page a:hover {
    text-decoration: none; }

.logged-user-info i.user {
  font-size: 170px; }
.logged-user-info strong {
  color: #DE473C; }
.logged-user-info dt {
  text-align: left; }

.home-item {
  padding: 10px;
  transition: all ease-in-out 0.3s; }
  .home-item .inside {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #333;
    color: white;
    padding-top: 20px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    text-align: center; }
    .home-item .inside i {
      font-size: 100px; }
    .home-item .inside p {
      padding: 20px;
      background: white;
      margin-top: 30px;
      color: #333; }
    .home-item .inside:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      transition: all ease-in-out 0.3s; }

a {
  color: #DE473C; }

.fixed-menu-bar a {
  color: white;
  text-decoration: none; }

.home-item a {
  color: inherit !important; }
  .home-item a:hover, .home-item a:focus {
    text-decoration: none  !important; }

.login-page {
  padding-top: 200px; }

#hamburger-icon {
  width: 30px;
  height: 15px;
  position: relative;
  display: block;
  margin: 30px auto 15px auto; }
  #hamburger-icon .line {
    display: block;
    background: #ecf0f1;
    width: 30px;
    height: 2px;
    position: absolute;
    left: 0;
    border-radius: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s; }
    #hamburger-icon .line.line-1 {
      top: 0; }
    #hamburger-icon .line.line-2 {
      top: 50%; }
    #hamburger-icon .line.line-3 {
      top: 100%; }
  #hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px); }
  #hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px); }
  #hamburger-icon.active .line-1 {
    transform: translateY(7.5px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7.5px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7.5px) translateX(0) rotate(45deg); }
  #hamburger-icon.active .line-2 {
    opacity: 0; }
  #hamburger-icon.active .line-3 {
    transform: translateY(-7.5px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-7.5px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-7.5px) translateX(0) rotate(-45deg); }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#map {
  height: 100%; }

.floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 10px;
  padding: 5px;
  position: absolute;
  top: 70px;
  z-index: 5; }

.floating-panel1 {
  background-color: #fff;
  border: 1px solid #999;
  left: 10px;
  padding: 5px;
  position: absolute;
  top: 265px;
  z-index: 5; }

.floating-panel2 {
  background-color: #fff;
  border: 1px solid #999;
  left: 10px;
  padding: 5px;
  position: absolute;
  top: 388px;
  z-index: 5; }

.floating-panel3 {
  background-color: #fff;
  border: 1px solid #999;
  left: 10px;
  padding: 5px;
  position: absolute;
  top: 480px;
  z-index: 5; }

.insider {
  padding: 3px; }

.fixed-menu {
  z-index: 9;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  background: #333;
  height: 100vh;
  padding: 20px;
  width: 300px;
  overflow-y: auto;
  position: fixed;
  right: -300px;
  top: 0; }

.fixed-menu h3 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px; }

.fixed-menu .logo {
  width: 50%; }

.close-menu-on-map {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0px;
  right: 20px;
  cursor: pointer; }

.fixed-menu-bar {
  position: fixed;
  z-index: 8;
  left: 10px;
  top: 50px;
  height: 75px;
  width: 200px;
  background: #DE473C; }

.fixed-menu-bar .no-padding {
  padding: 0; }

.fixed-menu-bar .centered-icon {
  cursor: pointer;
  text-align: center;
  display: block;
  color: white;
  height: 75px; }

.fixed-menu-bar .centered-icon:hover i {
  -webkit-transition: ease-in-out .3s all;
  transition: ease-in-out .3s all;
  opacity: 0.8; }

.fixed-menu-bar .centered-icon.back:hover i {
  margin-right: 10px;
  -webkit-transition: ease-in-out .3s all;
  transition: ease-in-out .3s all;
  opacity: 0.8; }

.fixed-menu-bar .centered-icon i {
  -webkit-transition: ease-in-out .3s all;
  transition: ease-in-out .3s all;
  font-size: 26px !important;
  line-height: 75px; }

.fixed-menu-bar .left:hover .fa-bars {
  opacity: 0.8;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; }

.fixed-menu-bar .fa-bars {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  color: white;
  font-size: 38px;
  display: inline-block;
  vertical-align: middle; }

.close-menu {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; }

.close-menu:hover {
  opacity: 0.8;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; }

button.btn i {
  vertical-align: top;
  font-size: 20px; }

.m-t-xs {
  margin-top: 5px !important; }

.m-t-sm {
  margin-top: 10px !important; }

.marker-info {
  margin: 0; }
  .marker-info .column {
    padding: 0; }
  .marker-info strong {
    font-size: 12px; }
    .marker-info strong i {
      font-size: 20px;
      vertical-align: bottom; }

/*# sourceMappingURL=Site.css.map */
