@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6 home-item animated fadeInUp">
        <div class="inside">
            <i class="material-icons">map</i>
            <h1>Map</h1>
            <p>Show all collected wireless networks on the map.<br />Here are filters that make it easier to find the relevant data.</p>
        </div>
    </div>

    <div class="col-md-6 home-item animated fadeInUp">
        <div class="inside">
            <i class="material-icons">format_list_bulleted</i>
            <h1>List</h1>
            <p>Display results as list.<br />Easier way to analyze data.</p>
        </div>
    </div>

    <div class="col-md-6 home-item animated fadeInUp">
        <div class="inside">
            <i class="material-icons">edit_location</i>
            <h1>Edit data</h1>
            <p>Edit records of collected data.<br />Here you can remove or change results.</p>
        </div>
    </div>

    <div class="col-md-6 home-item animated fadeInUp">
        <div class="inside">
            <i class="material-icons">people</i>
            <h1>Panel access</h1>
            <p>Edit users.<br />Add new user which can display collected data.</p>
        </div>
    </div>
</div>
